header{
    height: 100px;
}
.logo img{
    height: 70px;
    float: left;
    margin-top: 10px;
    background-color: white;
}
.search_fild input{
    padding: 5px 30px;
    border-radius: 10px;
    float: left;
    margin-left: 40px;
    margin-top: 25px;
}
.nav_items a{
    text-decoration: none;
    float: left;
    color: white;
    font-size:18px;
    margin-left: 65px;
    padding: 32px 5px;
}
.all_button{
    float: right;
    font-size: 18px;
    background-color: #F9A51A;
    border-radius:10px;
    padding: 5px 25px;
    margin-top: 25px;
    outline: none;
    border: none;
}
